#certErrorCode {
    font-weight: 600;
}

:not(.show-advanced) > #advancedContent,
:not(.show-advanced) > * > #warningActions {
    display: none;
}
.show-advanced svg,
.show-advanced #advancedButton {
    display: none;
}
